.wrapper {
  display: grid;
  padding-bottom: 110px;
  grid-gap: 12px;

  .content {
    display: grid;
    padding: 5px;
    color: #2b3a4b;

    gap: 12px;

    .contact {
      display: flex;

      span {
        padding-left: 8px;
        font-size: 14px;
        line-height: 24px;
      }
    }

    .information {
      display: grid;
      margin: 12px 0;
      grid-template-columns: 1fr 1fr;
      grid-gap: 12px 0;
      font-weight: bold;

      .block {
        margin-right: 8px;
        width: 4px;
        height: 24px;
        border-radius: 15px;
        background-color: #e58073;
      }

      .case,
      .reply {
        display: flex;
        align-items: center;
        flex: 1;

        span {
          padding-left: 14px;
        }
      }

      .categories {
        grid-column: span 2;
        display: grid;
        grid-template-columns: min-content min-content 1fr;

        .title {
          white-space: nowrap;
        }

        .content {
          padding: 0 0 0 14px;
          font-weight: 400;
          overflow: hidden;
          height: 40px;

          &.more {
            height: unset;
          }
        }

        .show {
          padding-left: 14px;
          grid-area: 2 / 3 / span 1 / span 1;
          font-weight: 400;
          color: #18a0cb;
        }
      }
    }
  }

  .button {
    position: fixed;
    bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 48px);
    height: 42px;
    font-size: 16px;

    .chat {
      margin-right: 8px;

      svg {
        fill: #fff;
      }
    }
  }
}