.wrapper {
  display: grid;

  grid-gap: 12px;

  .content {
    display: grid;
    padding: 5px;
    color: #2b3a4b;

    gap: 12px;

    .contact {
      display: flex;

      span {
        padding-left: 8px;
        font-size: 14px;
        line-height: 24px;
      }
    }

    .information {
      display: flex;
      margin: 12px 0;
      height: 24px;
      font-weight: bold;

      .block {
        margin-right: 8px;
        width: 4px;
        height: 24px;
        border-radius: 15px;
        background-color: #e58073;
      }

      .case, .reply {
        display: flex;
        align-items: center;
        flex: 1;

        span {
          padding-left: 14px;
        }
      }
    }
  }

  .button {
    position: fixed;
    bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 48px);
    height: 42px;
    font-size: 16px;

    .chat {
      margin-right: 8px;
    }
  }
}
