.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  >.header {
    height: 60px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 60px 1fr 70px;
    border-bottom: 1px solid #DDD;

    >div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    >.close {
      >div {
        width: 18px;
        height: 18px;

        >svg>g:nth-child(2) {
          fill: #18a0cb;
          stroke: #18a0cb;
        }
      }
    }

    >.back {
      >div {
        width: 24px;
        height: 24px;
        transform: rotate(90deg);

        >svg path {
          stroke: #18a0cb;
        }
      }
    }

    >.finish {
      font-size: 18px;
      color: #18a0cb;
      font-weight: bold;
    }

    >.title {
      padding-left: 10px;
      font-size: 17px;
      color: #2b3a4b;
      font-weight: bold;
      position: relative;

      .error {
        display: flex;
        align-items: center;
        color: #dc3545;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        margin-left: -5px;
        position: absolute;
        bottom: 2px;
      }
    }
  }

  >.content {
    flex: 1 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    >.row {
      display: flex;
      flex-direction: row;
      height: 60px;
      flex-shrink: 0;
      align-items: center;
      border: none;
      border-bottom: 1px solid #EEE;
      background: #fff;
      cursor: pointer;

      &.subject {
        margin-left: 20px;
      }

      >.title {
        flex: 1 0;
        font-size: 16px;
        text-align: left;
        color: #2b3a4b;
      }

      >.next {
        height: 100%;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        svg {
          transform: rotate(-90deg);
        }
      }

      >.collapse {
        height: 100%;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &.open {
          svg {
            transform: rotate(180deg);
          }
        }
      }

      >.checkbox {
        overflow: hidden;
        pointer-events: none;
        fill: #fff;
        height: 25px;
        width: 25px;

        rect {
          fill: #fff;
          stroke: #2b3a4b;
        }

        &.check {
          rect {
            fill: #18a0cb;
            stroke: #18a0cb;
          }
        }
      }

      >input[type=checkbox] {
        display: none;
      }
    }
  }
}