.wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: calc(100vh - 62px);

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 24px;
    color: #2b3a4b;
    font-weight: bold;
    font-size: 17px;

    .error {
      display: flex;
      align-items: center;
      margin-left: 12px;
      color: #dc3545;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;

      gap: 4px;
    }
  }

  .category {
    border: none;
    background: #ebf5f9;
    font-weight: 400;
  }

  .medical-type {
    display: grid;
    overflow-x: auto;
    flex-shrink: 0;

    grid-auto-flow: column;
    grid-gap: 8px;
    grid-auto-columns: min-content;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    button {
      padding: 0 10px;
      height: 32px;
      white-space: nowrap;
      font-weight: 400;
    }
  }

  .content {
    display: flex;
    overflow: hidden;
    margin-top: 24px;

    .part {
      display: flex;
      overflow: scroll;
      align-items: flex-start;
      flex-direction: column;
      width: 127px;
      border-right: 1px solid rgba(#aab0b2, 0.2);

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .item {
      padding: 12px 0;
      border: none;
      background: none;
      color: #2b3a4b;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;

      &.select {
        color: #18a0cb;
        font-weight: bold;
      }
    }

    .subjects {
      display: flex;
      overflow: scroll;
      flex: 1;
      flex-direction: column;
      padding-left: 19px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.buttons {
  position: fixed;
  bottom: 24px;
  left: 24px;
  display: flex;
  width: calc(100% - 48px);

  gap: 8px;

  button {
    height: 38px;
    font-size: 16px !important;
  }
}
