.wrapper {
  display: grid;
  padding-bottom: 6px;

  grid-gap: 12px;
}

.doctor {
  display: flex;
  flex-direction: column;
  padding: 24px;
  min-height: 312px;
  border: 1px solid rgba(#aab0b2, 0.2);
  border-radius: 15px;
  color: #333;

  grid-gap: 12px;

  .personal {
    display: flex;
    height: 90px;

    .avatar {
      display: inline-block;
      width: 99px;
      border-radius: 15px;
      background-color: #999;
    }

    .information {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 12px;
      font-weight: bold;

      .name {
        padding-bottom: 8px;
        color: #2b3a4b;
        font-size: 20px;
        line-height: 24px;
      }

      .job-title {
        color: #aab0b2;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  .resumes {
    overflow: hidden;
    margin: 0;
    height: 42px;
    font-size: 14px;
    line-height: 21px;

    &.more {
      height: unset;
    }
  }

  .show {
    margin-top: -4px;
    padding-bottom: 4px;
    color: #7873e5;
    cursor: pointer;
  }

  .expertise {
    overflow: hidden;
    height: 42px;

    &.more {
      height: unset;
    }
  }
}
