.wrapper {
  width: 100%;
  height: 48px;
  border-radius: 100px;
  border: none;
  cursor: pointer;

  &.primary {
    font-weight: 700;
    background: #7873E5;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
  }

  &.secondary {
    font-weight: 400;
    background: #E4E3FA;
    color: #7873E5;
    font-size: 16px;
    line-height: 16px;

    &.selected,
    &.selected:hover,
    &.selected:active,
    &.selected:active:hover {
      border-radius: 100px;
      background: #fff;
      text-decoration: none;
      font-weight: bold;
      cursor: default;
    }
  }

  &.text {
    font-weight: 700;
    background: #fff;
    color: #7873E5;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #7873E5;
  }

  &.transparent {
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    background-color:rgba(255, 255, 255, 0);
    border: 1px solid #fff;
  }
}
