.wrapper {
  flex: 1 0;
  padding: 0 24px 24px 24px;
  display: grid;
  align-content: start;
  grid-gap: 34px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .empty-card {
    display: none;
  }

  &.empty {
    grid-template-rows: 1fr;

    .empty-card {
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      color: #18a0cb;;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 15px;
    }
  }
}