.tags {
  display: grid;
  overflow-x: auto;
  flex-shrink: 0;

  grid-auto-flow: column;
  grid-gap: 8px;
  grid-auto-columns: min-content;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  >div {
    padding: 4px 13px;
    border-radius: 5px;
    border: 1px solid #18a0cb;
    background-color: #fff;
    color: #18a0cb;
    white-space: nowrap;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;

    >span {
      padding-right: 7.5px;
    }
  }
}