.wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 9px;
  grid-template-columns: 16px;
  color: currentColor;
  font-size: 14px;
  padding: 0 17px;
  transition: all 0.4s;
  align-items: center;
}