.wrapper {
  flex: 1 0;
  padding: 0 24px 72px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .title {
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #2B3A4B;
    margin-bottom: 12px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #2B3A4B;
    margin-bottom: 32px;
  }

  form {
    display: grid;
    grid-gap: 24px;
    grid-template-rows: repeat(5, min-content);
  }

  .actions {
    position: absolute;
    bottom: 24px;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(3, min-content) 1fr;
    grid-gap: 16px;
    font-size: 16px;
    color: #18a0cb;
    word-break: keep-all;
  }
}