.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  height: 249px;

  .avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 89px;
    height: 89px;
    border-radius: 89px;
    color: #fff;
    font-weight: bold;
    font-size: 45px;

    object-fit: cover;
  }

  .username {
    margin-top: 12px;
    color: #2B3A4B;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    grid-gap: 5px;
    flex-direction: row;
    align-items: center;

    svg {
      width: 20px;
    }
  }

  .hint {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 8px;
    color: #2B3A4B;
    font-size: 14px;
    line-height: 21px;

    svg {
      margin-right: 8px;
    }

    .enhance {
      font-weight: 700;
    }
  }

  .chat {
    position: absolute;
    top: 24px;
    right: 24px;

    .chat-unread {
      width: 8px;
      height: 8px;
      background: #E58E73;
      border-radius: 8px;
      position: absolute;
      top: -2px;
      right: -4px;
    }
  }
}

.modal-body {
  padding: 16px 10px;
}