.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  >div {
    padding-top: 11px;
    padding-bottom: 11px;
    display: flex;
    flex: 1;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #18a0cb;

    &:first-child {
      border-right: 0.5px solid #AAB0B2;
    }

    &.disabled {
      cursor: not-allowed;
      text-decoration: none;
      color: #a5adba;
      user-select: none;
    }
  }
}