.wrapper {
  width: 100%;
  height: 100%;
  background-color: white;

  .header {
    display: flex;
    align-items: center;
    padding: 12px 24px 12px 24px;

    .chat-icon {
      margin-left: 18px;
    }
  }

  .inner {
    position: relative;
    display: grid;
    overflow-y: auto;
    padding: 0 24px 170px;
    width: 100%;
    height: 100%;

    grid-gap: 12px;

    .filter {
      display: flex;
      justify-content: center;
    }
  }

  .button {
    position: fixed;
    bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 48px);
    height: 42px;
    font-size: 16px !important;

    .notePencil {
      margin-right: 8px;
    }
  }
}

.ad-card {
  padding: 12px 0;
  border: 1px solid rgba(170, 176, 178, 0.2);
  border-radius: 15px;

  .title {
    padding: 0 24px 12px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

  .content {
    position: relative;

    .picture {
      display: flex;
      overflow: hidden;
      justify-content: center;
      margin-bottom: 12px;
      min-width: 90px;
      width: 100%;
      background-color: #999;
    }

    .text {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      padding: 0 24px;
      height: 84px;
      color: #333;
      text-overflow: ellipsis;
      line-height: 21px;

      -webkit-line-clamp: 4;
    }
  }
}
