.wrapper {
  flex: 1;
  padding: 12px 24px 49px 24px;
  background-color: white;
  display: grid;
  grid-gap: 12px;

  .header {
    display: flex;
    align-items: center;

    .chat-icon {
      margin-left: 18px;
      path {
        fill: #7873E5;
      }
    }
  }

  .button {
    position: fixed;
    width: calc(100% - 48px);
    height: 42px;
    bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px !important;

    .notePencil {
      margin-right: 8px;
    }
  }
}

.ad-card {
   height: 180px;
   border: 1px solid rgba(170, 176, 178, 0.2);
   border-radius: 15px;
   padding: 24px;

   .title {
     font-weight: bold;
     font-size: 20px;
     line-height: 24px;
     margin-bottom: 24px;
     color: black;
   }

   .content {
     display: flex;
     height: 84px;

     .pic {
       min-width: 90px;
       height: 81.82px;
       border: 1px solid rgba(170, 176, 178, 0.2);
       border-radius: 15px;
       margin-right: 12px;
       background-color: #999;
     }

     .text {
       height: 84px;
       color: #333333;
       line-height: 21px;
       display: -webkit-box;
       -webkit-box-orient: vertical;
       -webkit-line-clamp: 4;
       overflow: hidden;
       text-overflow: ellipsis;
     }
   }
  }