.wrapper {
  display: grid;
  flex: 1;
  padding: 12px 24px 120px 24px;
  background-color: white;

  grid-gap: 12px;

  .header {
    display: flex;
    align-items: center;

    .chat-icon {
      margin-left: 18px;

      path {
        fill: #7873e5;
      }
    }
  }

  .button {
    position: fixed;
    bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 48px);
    height: 42px;
    font-size: 16px !important;

    .notePencil {
      margin-right: 8px;
    }
  }
}

.ad-card {
  padding: 24px;
  border: 1px solid rgba(170, 176, 178, 0.2);
  border-radius: 15px;

  .title {
    margin-bottom: 12px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

  .content {
    .pic {
      display: flex;
      overflow: hidden;
      justify-content: center;
      margin-bottom: 12px;
      min-width: 90px;
      width: 100%;
      border: 2px solid rgba(170, 176, 178, 0.2);
      border-radius: 15px;
      background-color: #999;
    }

    .text {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      height: 84px;
      color: #333;
      text-overflow: ellipsis;
      line-height: 21px;

      -webkit-line-clamp: 4;
    }
  }
}
