.wrapper {
  flex: 1 0;
  padding: 0 4px 0 18px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr min-content;
  align-items: center;

  .submit {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #3D454C;
    white-space: nowrap;
  }
}