@import 'assets/styles/mixins';
@import 'assets/styles/variables';

.wrapper {
  -webkit-box-align: center;
  align-items: center;
  border-color: #fff;
  color: #45536c;
  cursor: text;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  font-size: 16px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
  overflow-wrap: break-word;
  vertical-align: top;
  pointer-events: auto;
  background-color: #fff;


  &:not(.disabled) {
    &:focus-within {
      color: #181c32;
      background-color: #fff;
      // border-color: #b5b5c3;
      outline: 0;
    }

    &.invalid {
      border: 1px solid #DC3545;
    }

    &.valid {
      border: 1px solid #198754;
    }

    &.solid {
      background-color: #f5f8fa;
      border-color: #f5f8fa;
      color: #5e6278;
      transition: color .2s ease, background-color .2s ease;

      input {
        background-color: #f5f8fa;

        &:focus {
          background-color: #eef3f7;
          color: #5e6278;
        }
      }
    }
  }

  &.disabled {
    background: #091e420a;
    border-color: #091e420a;
    cursor: not-allowed;
    text-decoration: none;
    color: #a5adba;
    user-select: none;
  }

  input.control {
    height: 48px;
    padding: 12px 17px;
    background-clip: padding-box;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 0;
    box-sizing: border-box;
    color: currentColor;
    cursor: inherit;
    font-size: 16px;
    min-width: 0px;
    outline: none;
    width: 100%;
    font-family: $font-family;
    border-radius: 15px;
    line-height: 3;

    &::placeholder,
    &::-webkit-input-placeholder {
      color: #8B919C;
      font-family: $font-family;
      line-height: 3;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      box-shadow: 0 0 0 50px #ffffff inset;
    }

    &:-webkit-autofill::first-line {
      font-family: $font-family;
      font-size: 16px;
      font-weight: normal;
      line-height: 1;
      color: currentColor;
    }
  }
}