.wrapper {
  display: grid;
  padding-bottom: 6px;

  grid-gap: 12px;
}

.activity-card {
  padding: 24px;
  height: 180px;
  border: 1px solid rgba(170, 176, 178, 0.2);
  border-radius: 15px;

  .title {
    margin-bottom: 24px;
    color: #7873e5;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

  .content {
    display: flex;
    height: 84px;

    p {
      margin: 0;
      padding: 0;
    }

    .pic {
      margin-right: 12px;
      min-width: 90px;
      height: 81.82px;
      border: 1px solid rgba(170, 176, 178, 0.2);
      border-radius: 15px;
      background-color: #999;

      object-fit: cover;
    }

    .text {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      height: 84px;
      color: #333;
      text-overflow: ellipsis;
      line-height: 21px;

      -webkit-line-clamp: 4;
    }
  }
}
