.wrapper {
  position: relative;
  display: flex;
  overflow: auto;
  flex: 1 0;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px 72px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .title {
    margin-bottom: 12px;
    color: #2b3a4b;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
  }

  .subtitle {
    margin-bottom: 32px;
    color: #2b3a4b;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
  }

  form {
    display: grid;

    grid-gap: 24px;
    grid-template-rows: repeat(5, min-content);
  }

  .actions {
    position: absolute;
    bottom: 48px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #7873e5;
    word-break: keep-all;
    font-size: 16px;

    grid-gap: 16px;
  }

  .version {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      opacity: 0;
    }

    span {
      margin: 0 5px;
    }
  }
}
