.wrapper {
  background: #FFFFFF;
  border: 1px solid rgba(170, 176, 178, 0.2);
  border-radius: 15px;
  padding: 24px;
  position: relative;

  &:not(:first-child) {
    margin-top: 12px;
  }

  .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: #333333;
  }

  .message {
    margin-top: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

  .unread {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #7873E5;
    position: absolute;
    top: 44px;
    right: 27px;
  }
}