.wrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 14px;

  &.large {
    height: 56px;
  }

  &.small {
    height: 24px;
  }

  .back {
    width: 18px;
    height: 24px;
    color: #000;
  }

  >.title {
    flex: 1 0;
    color: #2B3A4B;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;

    &.has-back {
      margin-right: 18px;
    }
  }
}