$color: #c8b7a4;

.wrapper {
  display: flex;
  justify-content: center;
  padding: 16px 16px 0px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  position: relative;
  background-color: #fff;

  h1 {
    margin: 0;
    padding: 0;
    font-style: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000;
  }
}
