.wrapper {
  display: grid;
  grid-gap: 12px;
  grid-auto-rows: min-content;
  padding-bottom: 52px !important;

  .row {
    display: flex;
    align-items: flex-start;

    &.left {
      flex-direction: row;

      .avatar {
        flex: 0 0 32px;
        height: 32px;
        margin-right: 6px;
      }

      .message {
        margin-right: 40px;
        background: #F4F6F9;
        color: #2B3A4B;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        padding: 12px 20px;
        border-radius: 24px 24px 24px 0;
      }
    }

    &.right {
      flex-direction: row-reverse;

      .message {
        margin-left: 130px;
        background: #7873E5;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        padding: 12px 20px;
        border-radius: 24px 0 24px 24px;
      }
    }

    &.center {
      flex-direction: row;
      justify-content: center;

      .time {
        flex: 1 0;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        color: rgba(60, 60, 67, 0.6);
      }
    }
  }
}

.input {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 16px;
  background: #fff;

  .control {
    padding: 7px 16px;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    background: #F4F6F9;
    border-radius: 15px;

    input {
      border: 0;
      text-align: right;
      background: #F4F6F9;

      &:focus {
        outline: none;
      }
    }

    .submit {
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      color: #7873E5;
      white-space: nowrap;
    }
  }
}