.wrapper {
  height: 50px;
  padding: 10px 0 10px;

  img {
    height: 100%;
    overflow: hidden;
    object-fit: contain;
    animation: rotation 2s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}