.wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: calc(100vh - 62px);

  grid-gap: 24px;

  h1 {
    margin: 0;
    width: 100%;
    color: #2b3a4b;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  .form {
    display: grid;
    overflow: scroll;

    grid-gap: 24px;

    &::-webkit-scrollbar {
      display: none;
    }

    .input-group {
      margin-bottom: 0;

      .input {
        margin-top: 4px;
        padding: 0 13px;
        border: 1px solid #ebeef2;
        border-radius: 4px;
        color: #2b3a4b;
        line-height: 36px;
        cursor: pointer;
      }

      .dropdown {
        width: 100%;

        > div {
          width: 100%;
        }
      }

      :global(.component-textarea) {
        background: #fff;

        &:focus-within {
          border-color: #ebeef2;
        }

        .textarea {
          margin-top: 4px;
          height: 86px;
        }
      }
    }

    .classify {
      width: 100%;
      height: 38px;
      border: 1px solid #ebeef2;
      border-radius: 4px;
      cursor: pointer;

      .input {
        margin-top: 0;
        border: none;

        user-select: none;
      }
    }

    .uploads {
      display: flex;
      margin-top: 4px;
      height: 100px;

      gap: 8px;

      .upload {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
//border
        border-radius: 2px;
        background-color: #f4f6f9;
        background-image: repeating-linear-gradient(30deg, #7873e5, #7873e5 10px, transparent 10px, transparent 20px), // left
        repeating-linear-gradient(120deg, #7873e5, #7873e5 10px, transparent 10px, transparent 20px), // top
        repeating-linear-gradient(210deg, #7873e5, #7873e5 10px, transparent 10px, transparent 20px), // right
        repeating-linear-gradient(300deg, #7873e5, #7873e5 10px, transparent 10px, transparent 20px); // bottom
        background-position: 0 0, 0 0, 100% 0, 0 100%;
        background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1.2px;
        background-repeat: no-repeat;
        color: #7873e5;
        font-weight: bold;
      }

      .add {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      input {
        visibility: hidden;
      }

      .image {
        position: absolute;
        width: 100px;
        height: 100px;

        img {
          position: absolute;
          width: 100%;
          height: 100%;

          object-fit: cover;
        }

        .delete {
          position: absolute;
          top: 8px;
          right: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: rgba(black, 0.2);
          color: rgba(white, 0.8);
          font-size: 8px;
        }
      }
    }
  }
}

.buttons {
  display: flex;
  padding: 0 24px;

  gap: 8px;

  button {
    height: 38px;
    font-size: 16px !important;
  }
}
