.wrapper {
  position: relative;

  .filters {
    display: grid;
    overflow-x: auto;
    flex-shrink: 0;
    padding: 0 0 12px;

    grid-auto-flow: column;
    grid-gap: 12px;
    grid-auto-columns: min-content;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    >div {
      padding: 4px 13px;
      border: 1px solid #7873e5;
      border-radius: 100px;
      color: #7873e5;
      white-space: nowrap;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;

      &:not(.active) {
        border: 1px solid #7873e5;
      }

      &.active {
        background: rgba(120, 115, 229, 0.2);
      }
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    color: #2b3a4b;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
  }

  .text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdd2d9;
    color: #2b3a4b;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    .search {
      padding-right: 10px;
    }
  }
}