.wrapper {
  position: relative;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    color: #2b3a4b;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
  }

  .text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdd2d9;
    color: #2b3a4b;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    .search {
      padding-right: 10px;
    }
  }
}
