.wrapper {
  align-items: start;
  flex: 1;
  padding: 12px 24px 61px 24px;
  background-color: white;

  .header {
    display: flex;
    align-items: center;

    .chat-icon {
      margin-left: 18px;

      path {
        fill: #7873e5;
      }
    }
  }

  .banner {
    padding: 12px 0 20px;
  }

  .card {
    display: grid;

    grid-gap: 12px;
  }

  .button {
    position: fixed;
    bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 48px);
    height: 42px;
    font-size: 16px !important;

    .funnel {
      margin-right: 8px;
    }
  }
}

.clinic {
  padding: 24px;
  width: 100%;
  border: 1px solid rgba(170, 176, 178, 0.2);
  border-radius: 15px;
  font-weight: bold;

  .title {
    margin-bottom: 8px;
    color: #2b3a4b;
    font-size: 20px;
    line-height: 24px;
  }

  .sub-title {
    margin-bottom: 12px;
    color: #aab0b2;
    line-height: 16.8px;
  }

  .content {
    display: flex;
    height: 24px;

    .block {
      margin-right: 8px;
      width: 4px;
      height: 24px;
      border-radius: 15px;
      background-color: #e58073;
    }

    .case, .reply {
      display: flex;
      align-items: center;
      flex: 1;

      span {
        padding-left: 14px;
      }
    }
  }
}
