.wrapper {
  flex: 1;
  padding: 12px 24px 49px 24px;
  background-color: white;
  display: grid;
  grid-gap: 12px;

  .header {
    display: flex;
    align-items: center;

    .chat-icon {
      margin-left: 18px;
      path {
        fill: #7873E5;
      }
    }
  }

  .banner {
    display: flex;
    margin: 3px 0 8px;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
  }

    .banner-item {
      min-width: 342px;
      height: 132px;
      border: 1px solid rgba(170, 176, 178, 0.2);
      border-radius: 15px;
      margin-right: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .button {
    position: fixed;
    width: calc(100% - 48px);
    height: 42px;
    bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px !important;

    .funnel {
      margin-right: 8px;
    }
  }
}