.wrapper {
  flex: 1;
  padding: 12px 24px 49px 24px;
  background-color: white;
  display: grid;
  grid-gap: 12px;
  align-items: start;

  .header {
    display: flex;
    align-items: center;

    .chat-icon {
      margin-left: 18px;
      path {
        fill: #7873E5;
      }
    }
  }

  .button {
    position: fixed;
    width: calc(100% - 48px);
    height: 42px;
    bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px !important;

    .funnel {
      margin-right: 8px;
    }
  }
}