.wrapper {
  overflow: auto;
  padding: 0 24px 32px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .empty-card {
    display: none;
  }

  &.empty {
    grid-template-rows: 1fr;

    .empty-card {
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: center;
      border-radius: 15px;
      background: rgba(255, 255, 255, 0.2);
      color: #fff;
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
    }
  }
}
