.banner {
  margin: 3px 0 8px;
  min-width: 1px;

  .banner-item {
    border: 1px solid rgba(170, 176, 178, 0.2);
    border-radius: 15px;
    //temp
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(red, 0.2);
  }
}